<a href="/match/{{match.id}}"
   class="list-group-item-action lh-condensed p-3 border-top">
    <div class="row">
        <div class="col-5">
            <span class="text-left">
                {{ match.challenger.user.username}}
            </span>
        </div>
        <div class="col-2 text-center"><small class="text-muted">vs</small></div>
        <div class="col-5 text-right"><span>{{ match.opponent.user.username }}</span></div>
    </div>
    <div class="row">
            <div class="col-2">{% if match.challenger_wins %}<i class="fas fa-trophy ml-2"></i>{% endif %}</div>
            <div class="col-8 text-center text-muted"><small>{{ match.played_at|default:match.date}}</small></div>
            <div class="col-2">{% if not match.challenger_wins and match.played_at is not null %}<i
                class="fas fa-trophy mr-2"></i>{% endif %}</div>
    </div>

</a>
